---
import Layout from '../layouts/Layout.astro';
import DoMath from '../components/DoMath.svelte';
---

<Layout title="Do Math">
	<main class="p-2">
		<DoMath client:only="svelte"></DoMath>
	</main>
</Layout>
